@import url(font/font_dq05yz9lazxxyldi/iconfont.css);

/* with icon */
.with-icon,
.with-icon-right{
    position: relative;
}
.with-icon:before,
.with-icon-right:before,
.with-icon .icon,
.with-icon-right .icon {
    font-family: "icon" !important;
    /* font-size: 1.25em; */
    position: absolute;
    line-height: 1;
    height: 1em;
    width: 1em;
    left: .75em;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.with-icon-right:before {
    left: auto;
    right: .75em;
}
.with-icon-right .icon{
    left: auto;
    right: .75em;
}
.with-icon .icon:before,
.with-icon-right .icon:before{
    font-size: 1em;
}
.with-icon .input{
    padding-left: 2.5em
}
.with-icon-right .input{
    padding-right: 2.5em
}

.icon{
    font-size: 1em;
}
.icon:before{
    font-family: "icon" !important;
    /* font-size:1.25em; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
