/*
update 2014.05.20

qy
base:wui
by wushufen
2014.05.20
*/



/************************************************\
	覆盖 wui
\************************************************/
.loading{background: rgba(255,255,255, .6);}
.wui{
	border: 0;
	overflow: hidden;
	border-radius: none;
}
.wui-item{border-color: #666;}
