/*
wui by wushufen
email: wusfun@foxmail.com
2014.03.21
update: 2015.03.23
*/



/************************************************\
	loading...
\************************************************/
/*
.loading{
	.loading-icon
}
*/
.loading{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999;
}
.loading-icon{
	position: absolute;
	top: 38.2%;
	left: 50%;
	width: 46px;
	height: 46px;
	margin: -23px;
	background: url(wui.img/wui-loading.gif) center no-repeat;
	opacity: .9;
}



/************************************************\
	基本
\************************************************/
*{margin: 0; padding: 0}

/*背景*/
html{background: #fff;}
/*html{color: #333}*//*2014.05.19 - 字体与颜色一起*/
/**{color: #333}*//*2014.05.18 u 这样就无法继承了*/

/*字体、颜色*/
/**{font: 16px/1.5 "Microsoft YaHei",Helvetica,"Helvetica Neue","Trebuchet MS",Arial,sans-serif;}*//*2014.05.19 这样所有都无法继承了*/
html,
input,/*2014.05.19 这些元素有默认值，比继承优先*/
select,
textarea,
button,
th{
	font: 16px/1.5 "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	/*font: 16px/1.5 "Microsoft YaHei",Helvetica,"Helvetica Neue","Trebuchet MS",Arial,sans-serif; color: #555;*/
	color: #333;
}

/* 链接 */
a{text-decoration: none; color: #0af}
/*a:hover{text-decoration: underline}*/
/*a:active{text-decoration: overline}*/

/*2014.06.20 - 见表单部分*/
/*
input:focus,
select:focus,
textarea:focus,
button:focus{outline:0}
*/


input[type="radio"],
input[type="checkbox"]{width: 1em; cursor: pointer}



/************************************************\
	容器
\************************************************/
/*
.container[.padding-0]{不要边距}
.container{
	.no-inset{抵消父边距}
}
*/
.container{
	width: 960px;/*非响应时宽度*/
	margin: auto;/*居中*/
}
.container{
	max-width: 100%;/*被嵌套时，比如在一个iframe里*/
}
/*.padding-0{padding: 0}*//*2014.07.28 + 2014.09.04 -*/
/*.no-inset{margin: 0 -1em}*//*2014.07.30 + 2014.09.04 -*/


/*
.container{
	.row{
		.col.span-*{}
		.col.span-*{}
	}	
}
*/
.row:after{content: ""; display: table; clear: both;}/*clearfix*/

/*栅格*/
/*
.col.span-*{}
*/
.col{float:left;/*横向排列*/}

.span-1  {width:8.3333%}
.span-2  {width:16.6667%}
.span-3  {width:25%}
.span-4  {width:33.3333%}
.span-5  {width:41.6667%}
.span-6  {width:50%}
.span-7  {width:58.3333%}
.span-8  {width:66.6667%}
.span-9  {width:75%}
.span-10 {width:83.3333%}
.span-11 {width:91.6667%}
.span-12 {width:100%}

/*留白 >2014.09.04*/
.container,.col{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{padding: 0 1em}
.row{margin: 0 -1em}/*抵消 .container 的 padding*/
.row,.col{padding: 0 .5em}



/************************************************\
	菜单
\************************************************/
/*
.menu[.horizontal]{
	.menu-item{}

	.menu-divider{}

	.menu-item{
		.menu-toggle{}
		.menu{...}
	}
}
*/
/*菜单，默认是垂直的*/
.menu{}
/*菜单项*/
.menu-item{
	display: block;
	padding: .5em 1em;
	color: #345;
	text-decoration: none;

	border-top: #ddd solid 1px;
}
.menu-item:first-child{border-top: 0}
/*菜单项为链接，为区分包裹二级菜单的.menu-item*/
a.menu-item:hover{
	background: rgba(200,200,200, .2)
}
/*active*/
.menu-item.active{
	background: #F0F8FA;
	border-right: solid 2px #0af;
}

/*分割线*/
.menu-divider{
	padding: .25em 0;
	border-top: #ddd solid 1px;
	background: rgba(75, 117, 155, 0.06);
}


/*二级菜单开关*/
.menu-toggle{
	display: block;
	margin: -.5em -1em 0;/*抵消 .menu-item 的左上右 padding*/
	padding: .5em 1em;
	border-bottom: #ddd solid 1px;
	cursor: pointer;
}
/*二级菜单*/
.menu-item .menu{
	display: none;/*二级菜单默认不显示*/
	margin: 0 -1em -.5em;/*抵消 .menu-item 的左右 padding*/
	border: 0;
	border-radius: 0;

	padding-bottom: .5em;
}
/*使二级菜单显示*/
/*.menu-item */.menu.open{display: block}

/*二级菜单项*/
.menu-item .menu-item{
	border-top: 0;
	padding-left: 2em;/*二级菜单项缩进*/
}


/*水平的菜单*/
.menu.horizontal .menu-item{
	display: inline-block;
}



/************************************************\
	.header 不是组件
\************************************************/
/*.header{}*/
.header:after{content: ""; display: table; clear: both;}



/************************************************\
	.navbar
\************************************************/
/*
..navbar{ [.container]{

	.navbar-header{ appName }
	.navbar-toggle{}
	.navbar-body{
		.nav{
			.nav-item{}
			.nav-item{}
		}
		.nav.float-right{
			.nav-item{}
		}
	}
	
} }
*/

/*导航条*/
.navbar{
	position: relative;/*1*/
	z-index: 10;/*1 提高显示层次*/

	border-bottom: solid 1px;

	margin-bottom: 1em;/*2014.07.03 +*/
}
.navbar .container{padding: 0}
.navbar:after{content: ""; display: table; clear: both}/*clearfix*/

/*导航条标题*/
.navbar-header{
	float: left;
	padding: 0 .75em;
	font-size: 1.2em;
	line-height: 40px; line-height: 2.5rem;/*在改变字体大小时也能保持固定的高度*/
}

/*导航条折叠部分*/
.navbar-body{}
.navbar-collapse{}
/*导航菜单*/
.nav{}
/*导航菜单项*/
.nav-item{
	float: left;
	padding: .5em 1em;
	color: #345;
	text-decoration: none;
}
a.nav-item:hover{
	background: rgba(200,200,200, .2)
}


/*导航条中的表单*/
.navbar form{
	float: left;
	margin: .1875em;/***/
}


/*导航条折叠部分折叠*/
@media (max-width:700px){
	.navbar-collapse{
		display: none;/*todo*/
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		max-height: 400px;
		overflow: auto;

		background: rgba(255, 255, 255, 0.91);
		box-shadow: 0 5px 10px -5px #888;
	}

	/*折叠之后不浮动占满一行*/
	.navbar-collapse form,
	.navbar-collapse .nav.float-right,
	.navbar-collapse .nav-item{
		float: none;
		display: block;
	}

}




/************************************************\
	路径（面包屑导航）
\************************************************/
/*
.path{
	a{}
	span{}
}
*/
.path{
	overflow: hidden;/*clearfix*/

	margin: 0 0 .5em;
}

.path a,
.path span{
	position: relative;
	float: left;
	padding: .25em .75em;

}

.path a + a:before,
.path a + span:before{
	content: "/";/*分隔符*/
	position: absolute;
	left: -.25em;

	color: #ddd;
}



/************************************************\
	面板
\************************************************/
/*
.panel{
	.panel-header{}
	.panel-body{}
	.panel-footer{}
}
*/
.panel{
	/*padding: .5em 1em;*/
	border: solid 1px #e6e6e6;

	margin-bottom: 1em;
}
.panel-header{
	/*margin: -.5em -1em .5em;*/
	padding: .375em 1em;
	border-bottom: solid 1px #ddd;

}
.panel-body{
	/*margin: -.5em -1em;*/
	padding: .75em 1em;
}
.panel-footer{
	/*margin: .5em -1em -.5em;*/
	border-top: solid 1px #e6e6e6;
	padding: .375em 1em;

}




/************************************************\
	选项卡（标签页）
\************************************************/
/*
.tabs{
	[.tabs-hader{}]
	.tab{}
	.tab{}
}
.tabs-body{
	.tab-content{}
	.tab-content{}
}
*/
/*
.panel{
	.panel-hader.tabs{
		.tab{}
		.tab{}
	}
	.panel-body.tabs-body{
		.tab-content{}
		.tab-content{}
	}
}
*/
.tabs{
	border-bottom: solid 1px #bbb;/*下横线*/
	padding: 0;/*for panel-hader.tabs*/
}
.tabs:after{content: ""; display: table; clear: both;}

/*标签控件标题*/

/*标签*/
.tabs-header,
.tab{
	float: left;/*横向排列*/
	padding: .375em .75em;
}
.tabs-header{color: #000}
.tab{cursor: pointer}

/*当前标签*/
.tab.active{
	border: solid 1px #bbb;
	border-radius: 4px 4px 0 0;
	margin: -1px;/*抵消 border 的空间、盖住下横线*/
	border-bottom-color: #fff;/*盖住下横线*/
	background: #fff;
}

/*标签内容*/
.tab-content{
	display: none;
}


/*justified*/
.justified .tab.active{
	position: relative;
	bottom: -1px;
}



/************************************************\
	justified
	使组件表现为表格实现一行两端对齐
	低版本浏览器不支持
\************************************************/
/*
.menu.justified{...}
.tabs.justified{...}
.group.justified{...}
*/
.justified{
	display: table !important;
	/*table-layout:fixed;*/
	width: 100%;
	box-sizing: border-box;
}
.justified:after{display: none !important}/*:after也会当成一格*/
.justified > *{
	display:inline-block;display:table-cell !important;
	*display:inline;*zoom:1;

	float: none !important;
	text-align: center;
}



/************************************************\
	列表
\************************************************/
/*
.list{
	.list-item{}
	a.list-item{}
}
*/
.list{
	list-style: none;
	margin-bottom: 1em;
	margin-top: 1px;/*抵消第一个的margin-top:-1px*/;
}
.list-item{
	display: block;
	border: solid 1px #ddd;
	padding: .5em 1em;
	margin-top: -1px;
}

/*圆角效果*/





/************************************************\
	表单
\************************************************/
/*文本框、文本域、下拉选择*/
.input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.input{
	display: inline-block; *display: inline; *zoom: 1;/*2014.07.30 ^ block>inline-block，width-auto 不用再加 inline-block*/
	width: 100%;
	padding: .25em 1em;
	vertical-align: middle;
	border: solid 1px #bbb;
	border-radius: 4px;
	background: transparent;
	color: #888;
	box-shadow: #ddd 0 1px 9px -2px inset;
}
/*横线文本框*/ /*2014.09.04 = 考虑去掉*/
.input-line{
	display: inline-block; *display: inline; *zoom: 1;
	border: solid 1px #5da8ca;
	border-width: 0 0 1px 0;
	width: 100%;
	background: transparent;
	color: #888;
	margin: .25em 0;/*2014.06.30 + .label 换行时与下一个 .label 太紧了*/
}


/*按钮*/
.button{
	display: inline-block; *display: inline; *zoom: 1;
	padding: .25em 1em;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;/*2014.05.30 + 不换行*/
	cursor: pointer;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: 0px 1px 3px -1px #aaa;
	color: #333;
	background: #F9F9F9;
}


/*整行按钮*/
button.block{
	width: 100%;
}


/*按钮和文本框焦点效果*/
.button:focus,/*2014.06.20 +*/
.input:focus,
.input-line:focus{
	outline: 0;
	border-color: #0af;
	box-shadow: 0 0 5px 1px #a9eaff;
}
.button:hover{box-shadow:0px 1px 3px #aaa}/*:hover 要在 :focus 后，不然没效果*/
.button:active{box-shadow:0px 1px 5px #aaa inset}/*:active 要在 :hover 后*/


/*大小*/
.button.small{padding: .05em .5em}
.button.large{font-size: 1.25em}

.input.small{padding: .05em .5em}
.input.large{font-size: 1.25em}


/*表单标签*/
.label{
	display: inline-block; *display: inline; *zoom: 1;
	padding: .25em 0;
}


/*表单组*/
.form-group{
	margin-bottom: .75em;
}
.form-group:after{content: ""; display: table; clear: both;}


/*水平表单*/
/*
form.horizontal{
	.form-group{
		.label{}	.input{}	[.tip{}]
	}
	.form-group{
		:radio{}
		:radio{}
	}
	.form-group{
		.controls{
			:checkbox{}
			:checkbox{}
		}
	}
	.form-group{
		.controls{
			.float-right{放于.controls里，右浮右与文本框右边对齐}
			:checkbox{}
		}
	}
	.form-group{
		.button{}
	}
	.button
	...
}
*/
form.horizontal{
	padding-left: 9em;/*留位置给 .label, .label 以 absolute 放于左边*/
}

form.horizontal .form-group{
	position: relative;
}

form.horizontal .label{
	position: absolute;
	right: 100%;
	width: 9em;
	margin-right: 1em;
	text-align: right;
	line-height: 1;/*换行时紧凑点*/
	padding-top: .5em;
}

form.horizontal .input,
form.horizontal .input-line,
form.horizontal .controls{
	float: left;
	width: 16em;
	max-width: 100%;/*窗口窄时不伸出右边*/
	margin-right: .75em;
}



/*行内表单*/
form.inline,
form.inline .form-group,
form.inline .label,
form.inline .input,
form.inline .input-line{
	display: inline-block; *display:inline;*zoom:1;
	vertical-align: middle;
}
form.inline .form-group{margin-right: .5em; margin-bottom: .25em}
form.inline .input,
form.inline .input-line{
	width: 8em;
}



/*表单提示*/ /*2014.09.04 = 考虑去掉*/
.tip{
	float: left;
	position: relative;
	line-height: 1;
	padding: .25em;
	margin-top: .25em;
	border: solid 1px #bbb;
	border-radius: 2px;
}
.tip:before,
.tip:after{
	content: "";
	position: absolute;
	right: 100%;
	top: .25em;
	border: solid .375em;
	border-width: 0 .375em .375em 0;
	border-bottom-color: transparent;
}
.tip:after{
	border-right-color: #fff;
	margin-right: -2px;
	margin-top: 1px;
}


/*控件组*/
/*
.group[.horizontal]{
	.group-item{}
	label.group-item{
		:checkbox|:radio
		text
	}
	.input.group-item{}
	.button.group-item{}
}
*/
.group{
	/*display: inline-block; *display:inline;*zoom:1;*/
	vertical-align: middle;

	border-radius: 4px;
	/*box-shadow: 0px 1px 1px #DCE3EB;*/

	/*margin-bottom: 1em;*/
}

.group-item{
	position: relative;
	display: block;
	padding: .25em 1em;
	border: solid 1px #bbb;
	border-radius: 0;
	margin-top: -1px;
}
label.group-item{cursor: pointer}
button.group-item{width: 100%; box-shadow: none;}

.group-item:hover{z-index: 1}
.group-item:focus{z-index: 2}


/*水平控件组*/
.group.horizontal{
	display: inline-block;
}
.group.horizontal:after{content: ""; display: table; clear: both}

.group.horizontal .group-item{
	float: left;
	width: auto;
	margin-left: -1px;
}

/*控件组自动调整*/
.group.justified{}
.group.justified .group-item{
	width: 1%;
	white-space: nowrap;/*不能换行*/
	vertical-align: baseline;/*top, middle 等都有点影响.input的高度？*/
}
.group.justified .group-item:not(:last-child){border-right-width: 0}
.group.justified .group-item.input{/*文本框最长*/
	width: 100%;
	text-align: left;
}



/************************************************\
	表格
\************************************************/
/*
.data{
	table
}

table.data{}
*/
.data table,
.data{
	*table-layout: fixed;/*避免ie7撑宽*/
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

.data{overflow:auto}
table.data{overflow: hidden; width: auto}

.data th,
.data td{
	padding:.25em 2px .25em .75em;
	max-width:10em; /* 用width无法控制宽度 */

	/*2014.5.27 - 隐藏的内容看不到，如按钮*/
	/*{
	overflow:hidden;
	text-overflow:ellipsis
	}*/
}
.data th{
	text-align:left;
	color: #111;

	/*2014.05.30 +*/
	white-space: nowrap;
}
/*.data tr:first-child th{background: rgba(75, 117, 155, 0.03); border-bottom:solid 1px #aaa;}*/

.data td{
	border-top:solid 1px #e6e6e6;
}



/************************************************\
	分页
\************************************************/
/*
.pagination{
	span.disable{}
	a.active{}
	a{}
}
*/
.pagination{}/*clearfix*/
.pagination:after{content: ""; display: table; clear: both;}

.pagination a,
.pagination span{
	float: left;
	padding: .25em .75em;
	border: solid 1px #bbb;
	margin-left: -1px;

	margin-top: .25em;
}
.pagination a{color: #456}

.pagination .active{
	position: relative;
	z-index: 1;
	border-color: #0af;
	background: #0af;
	color: #fff;
}



/************************************************\
	进度条
\************************************************/
/*
.progress{
	.progress-completed[style="width:n%"]{n%}
}
*/
.progress{
	background: #eee;
	white-space: nowrap;
}
.progress-completed{
	background: #0af;
	text-align: right;
	line-height: 1em;
	max-width: 100%;
}



/************************************************\
	badge
\************************************************/
.badge{
	display: inline-block;
	padding: 0.25em;
	line-height: .8;
	font-size: .9em;
	vertical-align: middle;

	border-radius: 9em;
	background: #0af;
	color: #fff;
}




/************************************************\
	下拉框
\************************************************/
/*
.dropdown{
	.dropdown-toggle{}
	.dropdown-body{}
}
*/
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-body{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 100;
	border-radius: 4px;
	background: #fff;
	box-shadow: 1px 2px 10px #888;
	margin-top: .75em;/*留位置给小箭头*/
	margin-right: -99em;/*不让 .dropdown 限制宽度*/
}

/*小箭头*/
.dropdown-body:before,
.dropdown-body:after{
	content: "";
	position: absolute;
	left: 1em;
	bottom: 100%;
	border: solid .5em transparent;
	border-bottom-color: #fff;
}
.dropdown-body:before{
	border-bottom-color: #ccc;
	margin-bottom: 1px;
}

/*open*/
.dropdown.open .dropdown-body{
	display: block;
}



/************************************************\
	图标
\************************************************/
.icon{
	display: inline-block; /**display: inline; *zoom:1; 看看ie7要不要*/
	width: 1em;
	height: 1.4em;
	vertical-align: middle;
	background-image: url(wui.img/wui-icons.png);
	background-repeat: no-repeat;
}
.i-left         {background-position: 0}
.i-right        {background-position: -30px}
.i-up           {background-position: -60px}
.i-down         {background-position: -90px}
.i-min          {background-position: -120px}
.i-plus         {background-position: -150px}
.i-ok           {background-position: -180px}
.i-x            {background-position: -210px}
.i-back         {background-position: -240px}
.i-forward      {background-position: -270px}
.i-menu         {background-position: -300px}
.i-grid         {background-position: -330px}
.i-home         {background-position: -360px}
.i-search       {background-position: -390px}
.i-person       {background-position: -420px}
.i-pen          {background-position: -450px}
.i-setting      {background-position: -480px}
.i-shoppingcart {background-position: -510px}



/************************************************\
    颜色
\************************************************/

/*文本与文本框*/
.primary {border-color:#00AAFF; color:#00AAFF}
.success {border-color:#21D100; color:#21D100}
.warning {border-color:#FFD013; color:#FFD013}
.danger  {border-color:#FF6767; color:#FF6767}
.error   {border-color:#FF0000; color:#FF0000}
.info    {border-color:#5AC0F0; color:#83C3E0}

.showy   {border-color:#FF6767; color:#FF6767}
.muted   {border-color:#8d8d8d; color: #A3A3A3;}

.money   {color: #f80}


/*按钮*/
.button.primary {background:#00AAFF; color:#fff}
.button.success {background:#21D100; color:#fff}
.button.warning {background:#FFD013; color:#fff}
.button.danger  {background:#FF6767; color:#fff}
.button.error   {background:#FF0000; color:#fff}
.button.info    {background:#5AC0F0; color:#fff}

.button.showy   {background:#EB3359; color:#fff}


/************************************************\
    常用类
\************************************************/
/*块*/
.none{display: none}
.block{display: block}
.inline{display: inline}
.inline-block{display: inline-block; *display: inline; *zoom: 1}

/* 宽高 */
.width-full{width:100%}
.width-auto{width:auto}
.height-full{height:100%}
.height-auto{width:auto}

/*浮动*/
.float-none{float: none}
.float-left{float: left}
.float-right{float: right}

.clear{clear: both}
.clearfix{*zoom:1}.clearfix:after{content: ""; display: table; clear: both;}

/*文本*/
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}

.bold{font-weight: bold}
.del{text-decoration: line-through; color: #aaa}

.nowrap{white-space:nowrap}/*不换行*/
.text-ellipsis /*超长自动在后加省略号*/
{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/*对齐*/
.v-align:after{content: ""; display: inline-block; height: 100%; vertical-align: middle}
	.v-top,.v-middle,.v-bottom{display: inline-block}
	.v-top{vertical-align: top}
	.v-middle{vertical-align: middle}
	.v-bottom{vertical-align: bottom}

html.page-middle{display: table; width: 100%; height: 100%}
	.page-middle>body{display: table-cell; vertical-align: middle; padding-top: 5%; padding-bottom: 10%}

/*固定*/
.fixed-top,
.fixed-bottom{position: fixed; left: 0; right: 0; z-index: 100}
.fixed-top{top: 0}
.fixed-bottom{bottom: 0}

/*圆角*/
.radius{border-radius: 4px}
.circle{border-radius: 999em}

/*阴影*/
.shadow-none{box-shadow:none}
.shadow{box-shadow:0px 2px 3px 0px #333}
.shadow-inset{box-shadow:0px 2px 3px 0px #333 inset}

/*禁止选择文本*/
.select-none{
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}



/************************************************\
    适应设备
    要考虑桌面浏览器的滚动条宽度
\************************************************/

/*大于等于*/

@media (min-width: 1px){/*手机 [ , 768)*/

.container{width: 100%}/*为了过渡效果好给宽度*/

}

@media (min-width: 768px){/*平板 [768, 992)*/

.container{width: 100%}

}

@media (min-width: 992px){/*中等桌面 [992, 1200)*/

.container{width: 980px}

}

@media (min-width: 1200px){/*大桌面 [1200, ]*/

.container{width: 1140px}

}

/*小于等于*/

@media (max-width: 768px){/*手机 [ , 768)*/

.xs-full{width: 100%}

}

@media (max-width: 992px){/*平板 [768, 992)*/

.sm-full{width: 100%}

}

@media (max-width: 1200px){/*中等桌面 [992, 1200)*/

.md-full{width: 100%}

}

@media (max-width: 9999px){/*大桌面 [1200, ]*/

}

/************************************************\
    过渡效果
\************************************************/
/*过渡所有效果*/
.transition,
.container,
.content,
.row,
.col,
.input,
.progress-completed{
	-webkit-transition: .2s;
	   -moz-transition: .2s;
	        transition: .2s;
}



/************************************************\
    hack
\************************************************/



/************************************************\
    测试
\************************************************/
/* 显示元素边框、背景 */
.t{border:1px solid; box-sizing: border-box}
.t2{border:1px solid #f00; box-sizing: border-box}
.b{background:#f00}
.b2{background:#0f0}
