/*
update 2014.05.20

qy
base:wui
by wushufen
2014.05.20
*/



/************************************************\
	覆盖 wui
\************************************************/
.loading{background: rgba(255,255,255, .6)}

.content{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wui{overflow: hidden; border-radius: 0; border: 0; box-shadow:0px 1px 3px #E2F1FF;}
.wui-header{background: #F8F8F8}
.wui-item{border-color: #F5F5F5}

/*active*/
.wui-item.active{background: #4ABEFF; color: #fff;}



/************************************************\
\************************************************/
a{color: #3096C9}

.appname{
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;

}	

.path .wui-item:before{content: "/"; position: absolute; left: -.25em; color: #ddd}
