/*@CHARSET "UTF-8";*/
/*
2014年4月16日 18:11:14;

wui new
by wushufen;
2014.3.21
*/
/*
2014年3月23日 20:07:30
	搜狗兼容模式下栅格系统有问题，
	浏览器缩小约半屏时栅格会挤下一行
*/

/*
基本
布局
容器
头部、导航
选项卡（标签页）
面板
列表视图
表单
表格
栅格系统
留白
颜色
响应
*/



/************************************************\
	loading...
\************************************************/
/*
.loading{
	.loading-icon
}
*/
.loading{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff; z-index: 99999}
.loading-icon{position: absolute; top: 50%; left: 50%; width: 46px; height: 46px; margin: -23px; background: url(wui-loading.gif) center no-repeat; opacity: .3}



/************************************************\
	基本
\************************************************/
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0
}

/*背景、颜色*/
html{background:#f8f8f8; color:#333}

/*字体*/
html{font: 16px/1.5 "Microsoft YaHei",Helvetica,"Helvetica Neue","Trebuchet MS",Arial,sans-serif;}
input,
select,
button,
textarea{font:inherit}

input:focus,
select:focus,
button:focus,
textarea:focus{outline:0}

/* 链接 */
a{text-decoration:none;color:#00708a}
a:hover{color:#00708a}
a:active{color:#00789F}

h1,h2,h3,h4,h5,h6{
	font-weight:normal
}

/*给文档顶部加条线*/
html.top-line{border-top:solid .15em #0af}



/************************************************\
	容器
	居中、响应
	不再有留白
\************************************************/
/*
.header{
	.container{}
}
.container{
	.content{
		
	}
}
.footer{
	.container{}
}
*/
.container{
	width: 960px;/*非响应时宽度*/
	max-width: 100%;/*被嵌套时，比如在一个iframe里*/
	margin: 0 auto
}
/*div .container{height: 100%}/*确保后代可用百分比高度。ie怪异模式有问题*/



/************************************************\
	头部
\************************************************/
/*
.header{

	.header-left{}
	.header-right{.nav-toggle{}}

	.header-title{a{AppName}}
	.nav{
		.nav-menu{
			nav-menu-item{a{}}
			nav-menu-item{a{}}
		}
		.nav-menu-right{
			nav-menu-item{a{}}
			nav-menu-item{a{}}
		}
	}
}
*/
.header{
	position:fixed;
	z-index:20;
	left:0;
	top:0;
	right:0;

	background:rgba(255,255,255,.8);
	color:#333;
	box-shadow:0 0 10px #888
}/*clearfix*/

.header-left{float:left}
.header-right{float:right}
.header-button{display:block;float:left;padding:.5em .75em;cursor:pointer}
.header-button:hover{
	background:#e6e6e6
}

.header-title{float:left;line-height:40px;font-size:1.2em;padding:0 .75em}
.header-title a{
	color:#333
}



.nav{}/*clearfix*/

.nav-menu,
.nav-menu-right{list-style:none}
.nav-menu{float:left}
.nav-menu-right{float:right}

.nav-menu-item{float:left;padding:.5em .75em}
.nav-menu-item:hover{
	background:#eee
}
.nav-menu-item.active{
	background:#ddd
}
.nav-menu-item a{
	display:block;
	margin:-.5em -.75em;
	padding:.5em .75em;

	color:#333
}

.nav-toggle{display:none}


/*缩*/
@media (max-width:700px){
.header-title{
	float:none;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.nav{
	display:none;
	position:absolute;
	width:100%;

	border-bottom:solid 1px #e6e6e6;
	background:#f8f8f8;
	box-shadow:0 5px 10px -5px #888
}
/*active*/
.nav.active{display:block;z-index:500}

.nav-menu,
.nav-menu-right{float:none}

.nav-menu-item{float:none}
.nav-menu-item a{border-top:solid 1px #e6e6e6}

.nav-toggle{display:inline-block}

}



/************************************************\
	布局
\************************************************/

/************************\
	layout-sidebar
\************************/
/*
.layout-sidebar{
	.header{}
	.sidebar{
		.sidebar-menu{
			.sidebar-menu-item{a{}}
			.sidebar-menu-item{a{}}
			
			.sidebar-menu-item.second-menu{
				.menu-toggle{}
				.sidebar-menu{
					.sidebar-menu-item{a{}}
					.sidebar-menu-item{a{}}
				}
			}
		}
	}
	.container{
		[.content]{
			
		}
	}
	.footer{
	
	}
}
*/
.layout-sidebar{
	padding-left:14.1em;/*14em留给.sidebar的.1em间距*/
}
.layout-sidebar .header{margin-left:14.1em}

.sidebar-toggle{display:none}

.sidebar{
	position:fixed;
	_position:absolute;/*ie6就让它跟着文档滚动*/
	/*left: auto;*//*[默认就是]left:auto;是让其自动贴在父左边，而不一定在浏览器左边。比如.layout-sidebar套在.container里。发现在搜狗兼容模式下显示不正常*/
	top: 0;/*让它..*/
	bottom: 0;/*..的高度占满浏览器，所以父级不要有position了，【关键】*/
	width:14em;
	/*margin-left: -14.1em;*//*向左占.layout-sidebar留的padding-left*/
	left:0;
	overflow:auto;/*让菜单超出时可以滚动*/

	border:solid #e6e6e6;
	border-width:1px 1px 0 0;
	background:#fff;
	box-shadow:#888 0 0 5px
}

/*缩*/
@media (max-width:700px){
.sidebar-toggle{display:inline-block}

.layout-sidebar{padding-left:0}
.layout-sidebar .sidebar{margin-left:-14.1em}
.layout-sidebar .header{margin-left:0}

.layout-sidebar.active{padding-left:14.1em;	margin-right:-14.1em}
.layout-sidebar.active .sidebar{margin-left:0;z-index:10}
.layout-sidebar.active .header{margin-left: 14.1em;	margin-right:-14.1em}

}

.layout-sidebar,
.sidebar,
.header{-webkit-transition:.75s}



/*侧边栏菜单*/
.sidebar-menu{list-style:none}

.sidebar-menu-item{

	border-top:#fff solid 1px;
	border-bottom:#e6e6e6 solid 1px;
	border-radius:2px;
	background:#f0f0f0;
	color:#333
}

.sidebar-menu-item.active{

	border-right:solid .3em #0af;
	background:#ddd
}
.sidebar-menu-item a{
	position:relative;
	display:block;
	padding:.5em .75em;

	color:#333
}
.sidebar-menu-item a:hover{

	background:#e6e6e6
}

/*二级菜单*/
.second-menu{
	display:none;
	padding:.25em 0 0;

	background:#fff;
	box-shadow:#aaa 1px 1px 5px inset;
	margin-bottom:-1px
}
/*active*/
.second-menu.active{display:block}

.second-menu .sidebar-menu-item{

	background:none;
	border-top:0
}
.second-menu .sidebar-menu-item a{
	padding-left:1.75em
}

.menu-toggle{}
.menu-toggle:after{
	content:"";
	position:absolute;
	top:50%;
	right:.75em;
	margin-top:-.6em;
	width:1em;
	height:1.2em;
	background-image:url(wui-icons.png);
	background-repeat:no-repeat;
	background-position:-90px
}



/************************************************\
	路径（面包屑导航）
\************************************************/
/*
.path{
	[span{当前位置：}]
	a{}
	span{}
}
*/
.path{
	overflow: hidden;
	border: solid 1px #e6e6e6;
}/*clearfix*/
.path a,
.path span{
	position: relative;
	float: left;
	padding: .25em .75em;

	border-bottom: solid 1px #e6e6e6;
	margin-bottom: -1px;
	/*分隔*/
	border-left: solid 1px #e6e6e6;
	margin-left: -1px;
}

/*如果支持 “+” 选择器，则覆盖上面的border-left分隔，用新的分隔符*/
.path a + a,
.path a + span{
	border-left: 0;
}
.path a + a:before,
.path a + span:before{
	content: "/";/*分隔符*/
	position: absolute;
	left: -.15em;
	color: #e6e6e6;
}
.path .disable{cursor: not-allowed; background: #e6e6e6;}



/************************************************\
	选项卡（标签页）
\************************************************/
/*
.tabs{
  ul.tabs-indexs{[.justified]
    li{}
    li{}
    ...
    li.right{右标签}
  }
  .tabs-body{
    .tab{}
    .tab{}
    .tab{}
    ...
  }
}
*/
.tabs{}/*clearfix*/

.tabs-indexs{
	list-style:none;

	border-bottom:solid 1px #e6e6e6
}/*clearifx*/
.tabs-indexs li{
	float:left;
	padding:.25em .75em;

	margin-bottom:-1px;
	border:solid 1px transparent;
	border-radius: 4px 4px 0 0;
	cursor:pointer
}
.tabs-indexs li.right{
	float:right
}
.tabs-indexs li a{
	display:block;
	margin:-.5em -.75em;
	padding:.5em .75em
}

.tabs-body{
	border: solid 1px #e6e6e6;
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	padding:.5em .75em
}

.tab{/*display: none;*/}

/*active*/
.tabs-indexs li.active{
	background:#fff;
	border-color:#e6e6e6;
	border-bottom-color: #fff;
	position:relative;
}
.tab.active{display:block}


/*justified, 低版本浏览器不支持 display:table*/
.tabs-indexs.justified{
	display:table;
	width:100%;
	table-layout:fixed;
	box-sizing:border-box
}
.tabs-indexs.justified:after{display:none}/*:after也当成了一格*/
.tabs-indexs.justified li{
	float:none;
	display:inline-block;
	display:table-cell;
	*display: inline; *zoom:1;
	text-align:center;
	bottom: -1px;/*margin-bottom:-1px;无效*/
}



/************************************************\
	标签导航
\************************************************/
/*
.tab-nav{
	li{a{}}
	li{a{}}
}
*/
.tab-nav{}/*因为 display:table; width:100%; 再加左右 margin 无效，所以套多一层*/

.tab-nav-menu{
	box-sizing:border-box;
	list-style:none;
	display:table;
	width:100%;
	table-layout:fixed;

	border:solid 1px #e6e6e6;
	text-align:center
}
.tab-nav-menu li{
	display:table-cell;
	padding:.5em .75em;

	border-right:solid 1px #e6e6e6;
	cursor:pointer
}
.tab-nav-menu li:nth-last-child(1){border-right:0}
.tab-nav-menu li a{
	display:block;
	margin:-.5em -.75em;
	padding:.5em .75em
}

/*放于头部*/
.header .tab-nav{margin:0}



/************************************************\
	底部导航条
\************************************************/
/*
.foot-nav{
	li{a{}}
	li{a{}}
}
*/
.foot-nav{
	position:fixed;
	bottom:0;
	left:0;
	display:table;
	table-layout:fixed;
	width:100%;
	background:rgba(255,255,255,.8);
	box-shadow:-1px 0 10px #888
}
.foot-nav li{
	display:table-cell;
	text-align:center
}
.foot-nav li.active{
	background:#ddd
}
.foot-nav li a{
	display:block;
	color:#333
}



/************************************************\
	面板
\************************************************/
/*
.panel{
	.panel-header{
		//panel-title{}
	}
	.panel-body{}
	.panel-footer{}
}
*/
.panel{
	border:solid 1px #e6e6e6;
	padding:.5em .75em
}
.panel-header{
	margin:-.5em -.75em .5em;
	padding:.5em .75em;
	border-bottom:solid 1px #ddd
}
.panel-title{
	border-bottom:solid 1px #0af;
	float:left;
	position:relative;
	bottom:-1px;
	color:#111
}
.panel-body{
	margin:-.5em -.75em;
	padding:.5em .75em
}
.panel-footer{
	border-top:solid 1px #e6e6e6;
	margin:.5em -.75em -.5em;
	padding:.5em .75em
}



/************************************************\
	列表视图
\************************************************/
/*
.list{
	.list-item{
		.list-item-a{
			为了允许有其它链接
			而不用(.list-item a)来选择
		}
	}
	.list-item{
		a{其它链接}
	}
	.list-item{无链接}
}
*/
.list{
	list-style:none;
	border:solid 1px #e6e6e6;
	overflow:hidden
}
.list-item{
	display:block;
	position:relative;
	padding:.5em .75em;

	margin-bottom:-1px;/*关键，合并下border*/
	border-bottom:solid #e6e6e6 1px;
	border-top:solid transparent 1px
}
.list-item-a{
	display:block;
	margin:-.5em -.75em;
	padding:.5em 2em .5em .75em;
	color:#333
}
.list-item-a:before{/*:after与clearfix冲突*/
	content:"";
	position:absolute;
	right:.75em;
	top:50%;
	margin-top:-.6em;
	width:1.2em;
	height:1.2em;
	border-radius:9em;
	background-image:url(wui-icons.png);
	background-repeat:no-repeat;
	background-position:-30px
}



/************************************************\
	树
\************************************************/
/*
.tree{
	.node{[a{}]}
	a.node{}

	.folder{
		.folder-title{}
		.folder-content{

			.node{}

			.folder{...}

		}
	}
}
*/
.tree{border-left: solid .15em #eee}

	.folder{}
	.folder-title{cursor: pointer}
	.folder-title:before{/*折叠图标*/
		content: "÷";
		position: absolute;
		left: 0
	}
	.folder-content{/*文件夹内容缩进*/
		margin-left: 1.25em;
		/*border-left: solid 1px #aaa;*//*左边的竖线*/
		position: relative;
	}
	.folder-content:after{/*左边的竖线*/
		content: "";
		position: absolute;
		border-left: dotted 1px #aaa;
		top: 1px;
		bottom: 1em;
	}

	.folder-title,
	.node{display: block; padding: .25em .75em; position: relative; font-style: normal;}
	.node a{display: block; margin: -.25em -.75em; padding: .25em .75em;}

		.folder-content .folder-title:after,/*文件夹里边的 文件[夹]左边的横线*/
		.folder-content .node:after{
			content: "";
			position: absolute;
			border-top: dotted 1px #aaa;
			width: .5em;
			left: 0;
			top: 1em;
		}

	.node:hover{background: #eee}
	.folder-title:hover{background: #cef}


	/*默认关闭*/
	.folder-content{display: none;}
	.folder-content.open{display: block;}



/************************************************\
	进度条
\************************************************/
/*
.progress{
	.progress-completed[style="width:n%"]{n%}
}
*/
.progress{
	background: #eee;
}
.progress-completed{
	background: #0af;
	text-align: right;
	line-height: 1em;
	max-width: 100%;
}



/************************************************\
	表单
\************************************************/
.input:focus,
.button:focus{
	border-color:#0af;
	outline:0;
	box-shadow:0 0 5px 1px #a9eaff
}


.button{
	display:inline-block;
	background:#3B709B;
	color:#fff;
	border:1px solid #5A85AC;
	padding:.25em 1em;
	text-align:center;
	box-shadow:0px 2px 3px #aaa;
	cursor:pointer
}
.button:hover{box-shadow:0px 1px 3px #333}
.button:active{box-shadow:0px 1px 2px #333 inset}


.input{
	background:#fff;
	width:100%;
	height:2em;
	border:1px solid #aaa;
	box-shadow:#ddd 0 1px 10px -1px inset
}
textarea.input{height:auto}



/****加减****/
/*
.x{
	a{-}	
	input{}
	a{+}
}
*/
.x{
	display: inline-block; *display: inline; *zoom: 1;
	vertical-align: top;
	overflow: hidden;
	border: solid 1px #e6e6e6;
	border-radius: 4px;
}
.x input,
.x a{float: left; width: 2em; height: 2em; line-height: 2em; border: 0; text-align: center;}
.x a{background: #e6e6e6; color: #00708a;}



.form-v{}
.form-group{margin-bottom:.5em}
.form-v .form-group .label{
	display:block
}



/*列表文本框*/
/*
.list{
	label.list-item-input{input[text].input}
	label.list-item-input{input[password].input}
	label.list-item-input{select.input}
}
*//*
.list-item-input{display: block; position: relative; border-bottom: solid 1px #bbb; overflow: hidden;}
.list-item-input:nth-last-child(1){border-radius: 4px; overflow: hidden;}
.list-item-input .input{width: 100%; border: 0; padding: .5em .75em; box-sizing: border-box;}
*/

/*列表选择*/
/*
.list{
	label.list-item{input[radio]}
	label.list-item{input[radio]}
}
.list{
	label.list-item{input[checkbox]}
	label.list-item{input[checkbox]}
}
*/
label.list-item{cursor:pointer}



/************************************************\
	表格
\************************************************/
/*
[.data-r]{
  .data
}
*/
.data{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
.data tr{
	border-bottom:solid 1px #ddd;
}
.data tr:nth-child(2n+1){
	background:#f9fdff
}
.data tr:hover{
	background:#e4f6ff
}
.data th,.data td{
	padding:.25em 0 .25em .75em;
	max-width:10em;
	overflow:hidden;
	text-overflow:ellipsis
}
.data th{
	text-align:left;
	border-bottom:solid 1px #aaa
}
.data-r{
	overflow:auto;
	border:solid 1px #e6e6e6
}
.data-r .data{margin:0}/*webkit下table右margin不撑开父奇怪*/



/************************************************\
	分页
\************************************************/
/*
.pagination{
	span.disable{}
	a.active{}
	a{}
}
*/
.pagination{
	display: inline-block; *display: inline; *zoom:1;
	overflow: hidden;
	border: solid 1px #e6e6e6;
}/*clearfix*/

.pagination a,
.pagination span{
	float: left;
	padding: .25em .75em;

	border-bottom: solid 1px #e6e6e6;
	margin-bottom: -1px;
	border-right: solid 1px #e6e6e6;
	margin-right: -1px;
}
.pagination .disable{cursor: not-allowed; background: #e6e6e6;}
.pagination .active{margin-left: 1px; background: #0af; color: #fff}



/****翻页****/
/*
.pager{
	.pre{}
	.next{}
}
*/
.pager{}
.pager .pre,
.pager .next{
	padding: .25em .75em;

	border: solid 1px #e6e6e6;
	border-radius: 99em;
}
.pager .pre{float: left;}
.pager .next{float: right}



/****跳转****/
/*
.page-jump{
	input{}
	a{跳}
}
*/
.page-jump{
	display: inline-block; *display: inline; *zoom: 1;
	vertical-align: top;
	overflow: hidden;
	border: solid 1px #e6e6e6;
	border-radius: 4px;
}
.page-jump input{float: left; height: 2em; width: 2em; border: 0; text-align: center;}
.page-jump a{float: left; height: 2em; line-height: 2em; padding: 0 .5em; background: #e6e6e6; color: #00708a;}



/************************************************\
对话框
button[data-dialog="{
	tilte:'对话框标题',
	content:'对话框内容'
}"]
\************************************************/
/*
.dialog{
	.dialog-close{}

	.dialog-header{ 标题 }
	.dialog-body{

	}
	.dialog-footer{
	
	}
}
*/
.dialog{
	position: fixed;
	border: solid 1px #ddd;
	min-width: 200px;
	max-width: 600px;
	_width: 400px;
	z-index: 9999;
	border-radius: 3px;
	box-shadow: 0 3px 10px #333;
	margin: 1em;
	text-align: left;
	background: #fff;
}
.dialog-header{
	border-bottom: solid 1px #e6e6e6;
	padding: .5em 1em;
	color: #111;
}
.dialog-close{
	float: right;
	/* position: absolute; */
	top: 0;
	right: 0;
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
	background-image:url(wui-icons.png);
	background-position: -197px;
	background-repeat:no-repeat
}
.dialog-close:hover{
	background-color: #eee;
}

.dialog-body{
	padding: .5em 1em;
}
.dialog-footer{
	border-top: solid 1px #e6e6e6;
	padding: .25em 1em;
	text-align: center;
}



/************************************************\
	栅格系统
	总12格
	.grid-* 嵌套时，因为父也有 .grid-* 可能会影响到子的 .col
	因为排在后面的优先级高，
	并且嵌套时栅格已比较小了，
	所以 .grid-* 小在排后面。
	当子 .grid-* 大于 父 .grid-* 时，
	父的 .grid-* 更优先，影响到了子的 .col
	所有子栅格数会等于父栅格数。
	当需要子栅格数大于父栅格数时，
	子的 .col 请用 .span-*
\************************************************/

.grid{}/*clearfix*/
.col{float:left}

/***********************\
	等宽
\***********************/
/*
grid g-*{
	.col{}
	.col{}
}
*/
.g-12 .col {width:8.3333%}
.g-11 .col {width:9.0909%}
.g-10 .col {width:10%}
.g-9 .col  {width:11.1111%}
.g-8 .col  {width:12.5%}
.g-7 .col  {width:14.2857%}
.g-6 .col  {width:16.6667%}
.g-5 .col  {width:20%}
.g-4 .col  {width:25%}
.g-3 .col  {width:33.3333%}
.g-2 .col  {width:50%}
.g-1 .col  {width:100%}


/***********************\
	自由
\***********************/
/*
.col.span-*{}
.col.span-*{}
*/
.span-1  {width:8.3333%}
.span-2  {width:16.6667%}
.span-3  {width:25%}
.span-4  {width:33.3333%}
.span-5  {width:41.6667%}
.span-6  {width:50%}
.span-7  {width:58.3333%}
.span-8  {width:66.6667%}
.span-9  {width:75%}
.span-10 {width:83.3333%}
.span-11 {width:91.6667%}
.span-12 {width:100%}

/***********************\
	偏移
	向右移父的12分之N
\***********************/
.offset-1  {margin-left:8.3333%}
.offset-2  {margin-left:16.6667%}
.offset-3  {margin-left:25%}
.offset-4  {margin-left:33.3333%}
.offset-5  {margin-left:41.6667%}
.offset-6  {margin-left:50%}
.offset-7  {margin-left:58.3333%}
.offset-8  {margin-left:66.6667%}
.offset-9  {margin-left:75%}
.offset-10 {margin-left:83.3333%}
.offset-11 {margin-left:91.6667%}
.offset-12 {margin-left:100%}

/*响应*/
@media (max-width:700px){
.grid .col{width:100%}
}



/************************************************\
	图标
\************************************************/
.icon{
	display:inline-block;
	width:1em;
	height:1.2em;
	vertical-align:middle;
	background-image:url(wui-icons.png);
	background-repeat:no-repeat
}
.i-left    {background-position: 0}
.i-right   {background-position: -30px}
.i-up      {background-position: -60px}
.i-down    {background-position: -90px}
.i-min     {background-position: -120px}
.i-plus    {background-position: -150px}
.i-ok      {background-position: -180px}
.i-x       {background-position: -210px}
.i-back    {background-position: -240px}
.i-forward {background-position: -270px}
.i-menu    {background-position: -300px}
.i-grid    {background-position: -330px}
.i-home    {background-position: -360px}
.i-search  {background-position: -390px}
.i-person  {background-position: -420px}
.i-pen     {background-position: -450px}
.i-setting {background-position: -480px}
.i-shoppingcart {background-position: -510px}



/************************************************\
    颜色
\************************************************/

/*文本颜色*/
.c-primary{color:#0af}
.c-success{color:#0a0}
.c-warning{color:#fa0}
.c-danger{color:#e00}
.c-error{color:#e00}
.c-info{color:#759BAD}

.c-money{color:#f80}


/*文本框、边框*/
.b-primary{border-color:#3783CF}
.b-success{border-color:#40A52D}
.b-warning{border-color:#A2932D}
.b-danger{border-color:#A56B6B}
.b-error{border-color:#B94242}
.b-info{border-color:#759BAD}


/*背景*/
.bg-primary{border-color:#3783CF}
.bg-success{border-color:#40A52D}
.bg-warning{border-color:#A2932D}
.bg-danger{border-color:#A56B6B}
.bg-error{border-color:#B94242}
.bg-info{border-color:#759BAD}


/*按钮*/
.btn-primary{background-color:#FD376F;border-color:#CA7295;color:#fff}
.btn-success{background-color:#21D100;border-color:#40A52D;color:#fff}
.btn-warning{background-color:#CEB500;border-color:#A2932D;color:#fff}
.btn-danger{background-color:#f05a5a;border-color:#A56B6B;color:#fff}
.btn-error{background-color:#ff0000;border-color:#B94242;color:#fff}
.btn-info{background-color:#5AC0F0;border-color:#759BAD;color:#fff}



/************************************************\
    常用类
\************************************************/
/*宽高*/
.width-auto{width: auto}
.width-full{width: 100%}

/*浮动*/
.float-left{float: left}
.float-right{float: right}

/*块*/
.block{display:block}
.inline-block{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top
}



/************************************************\
    clearfix
\************************************************/
.clearfix:after,

.header:after,
.nav:after,
.container:after,
.tabs-indexs:after,
.grid:after,
.panel:after,
.panel-header:after,
.list-item:after,
.list-item-a:after,
.form-group:after,
.pagination:after,
.pager:after{content:"";display:block;clear:both}



/************************************************\
	总体效果
\************************************************/
/*整体*/
.tab-nav-menu,
.path,
.panel,
.list,
.data-r,
.pagination{
	background:#fff;
	border-radius:4px;
	/*box-shadow: 0 1px 10px #888;*/
}

/*背景*/
.background,
.tabs-body,
.pager .pre,
.pager .next{
	background:#fff
}

/*圆角*/
.radius,
.input,
.button{
	border-radius:4px
}

/*阴影*/
.shadown{
	box-shadow: 0px 1px 13px #bbb;
}

/************************************************\
    过渡效果
\************************************************/
/*过渡所有效果*/
.transition,
.container,
.col,
.input,
.progress-completed{
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}


/************************************************\
	留白
\************************************************/
/*内填充*/
.content{
	padding-top:.75em;
	padding-left:.75em;
	padding-right:.75em
}

/*下加距*/
.tab-nav,
.path,
.tabs,
.panel,
.list,
.data-r,
.data,
.pagination,
.pager{
	margin-bottom:.75em
}


/****** not inset ******/
.inset-false{
	margin-left:-.75em;
	margin-right:-.75em;

	border-left:0;
	border-right:0;
	border-radius:0
}



/************************************************\
    适应设备
    要考虑桌面浏览器的滚动条宽度
\************************************************/

/*--------->>>>往大设备都生效*/

@media (min-width: 1px){/*手机 [ , 768)*/

.container{width: 100%}/*为了过渡效果好给宽度*/

}

@media (min-width: 768px){/*平板 [768, 992)*/

.container{width: 100%}

}

@media (min-width: 992px){/*中等桌面 [992, 1200)*/

.container{width: 930px}

}

@media (min-width: 1200px){/*大桌面 [1200, ]*/

.container{width: 1140px}

}

/*<<<<--------往小设备都生效*/

@media (max-width: 768px){/*手机 [ , 768)*/


}

@media (max-width: 992px){/*平板 [768, 992)*/


}

@media (max-width: 1200px){/*中等桌面 [992, 1200)*/


}

@media (max-width: 9999px){/*大桌面 [1200, ]*/

}



/************************************************\
    测试
\************************************************/
/* 显示元素边框、背景 */
.t{border:1px solid #f00; box-sizing: border-box}
.t2{border:1px solid #0f0; box-sizing: border-box}
.b{background:#f00}
.b2{background:#0f0}




/*wui组件*/
.wui{
	border: solid 1px #ddd;
	border-radius: 4px;
	margin-bottom: 1em;
	overflow: hidden;
	background: #fff;
}
.wui-item{
	display: block;

	border: solid 1px #ddd;
	border-right: 0;
	border-bottom: 0;
	padding: .5em 1em;
	margin-top: -1px;
	margin-left: -1px;
}
label.wui-item{cursor: pointer;}


/*小点*/
.wui.small .wui-item{
	padding: .25em .75em;
}


/*水平*/
.wui.horizontal{
	display: inline-block; *display: inline; *zoom:1;
}
.horizontal .wui-item{
	float: left;
	/*
	border: solid 1px #ddd;
	border-top: 0;
	border-left: 0;
	padding: .5em 1em;
	margin-right: -1px;
	margin-bottom: -1px;*/
}


/*两端对齐*/
.wui.justified{
	display: table;
	width: 100%;
	word-spacing: -.25em;
}
.wui.justified .wui-item{
	display: inline-block; *display: inline; *zoom:1;
	display: table-cell;
	border-top: 0;
}
.wui.justified .wui-item:nth-child(1){
	border-left: 0;
}


/*折叠*/
.collapse{
	padding: 0;
}
.collapse-header{
	border: solid 1px #ddd;
	border-right: 0;
	border-bottom: 0;
	padding: .5em 1em;
	margin-top: -1px;
	margin-left: -1px;

	cursor: pointer;
	background: #eee;
}
.collapse-body{
	border: solid 1px #ddd;
	border-right: 0;
	border-bottom: 0;
	margin-top: -1px;
	margin-left: -1px;
	padding: .5em 1em;

	box-shadow: 1px 1px 2px #ddd inset;
}



/*圆角*/
.circle{
	border-radius: 999em;
}
