<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>sidebar</title>
    <link rel="stylesheet" type="text/css" href="sidebar.layout.css">
    <style type="text/css">
        html{
            font-family: "microsoft yahei";
            font-size: 14px;
        }
        body{
            margin:0;
        }
    </style>
</head>

<body class="sidebar-open">
    <!-- sidebar -->
    <div class="sidebar">
        <div class="sidebar-header">
            <h1>proto.js</h1>
        </div>
        <ul class="sidebar-menu">
			<li>
				<a href="#">Object</a>
				<ul>
					<li>
						<a href="#">.getType //获取参数数据类型</a>
					</li>
					<li>
						<a href="#">.isType //判断参数数据类型</a>
					</li>
					<li>
						<a href="#">.assign //[es]同jQuery.extend</a>
					</li>
					<li>
						<a href="#">.keys //[es]</a>
					</li>
					<li>
						<a href="#">.values //返回对象的值数组</a>
					</li>
					<li>
						<a href="#">.isMatch //判断两个对象是否匹配</a>
					</li>
				</ul>
			</li>
        </ul>
    </div>
    <!-- navbar -->
    <div class="navbar">
        <b class="sidebar-toggle"></b>
        <span>title</span>
    </div>
    <!-- layout-main -->
    <div class="layout-main">
        layout-main
    </div>
</body>

</html>