.table{
  display:table;
  width: 100%;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
.tblf{table-layout:fixed}


.tr{
  display:table-row;
}
tr{
  transition: .5s;
}
.table tr:hover{
  background: #f7f7f7;
}
.table>*:before,
.table>*:after{display:none !important}


.th{
  display: table-cell;
}
th{
  text-align:left;
}
.table th {
  white-space: nowrap;
}
.table tr:first-child th {
  background: #262626;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000000;
  color: #ffffffd1;
  font-weight: normal;
}


.td{
  display:table-cell;
  float:none;
  padding: .25em 1em;
}
.table td {
  border-bottom: solid 1px #000000;
  color: #bbb;
  background: #333;
}


.th,
.td,
.table th,
.table td {
  height: 3em;
  padding: .25em 1em;
}
