
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-check-circle"></i>
                    <div class="name">check-circle</div>
                    <div class="fontclass">.icon-check-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-close-circle"></i>
                    <div class="name">close-circle</div>
                    <div class="fontclass">.icon-close-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-info-circle"></i>
                    <div class="name">info-circle</div>
                    <div class="fontclass">.icon-info-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-question-circle"></i>
                    <div class="name">question-circle</div>
                    <div class="fontclass">.icon-question-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-warning-circle"></i>
                    <div class="name">warning-circle</div>
                    <div class="fontclass">.icon-warning-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-setting"></i>
                    <div class="name">setting</div>
                    <div class="fontclass">.icon-setting</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-eye"></i>
                    <div class="name">eye</div>
                    <div class="fontclass">.icon-eye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-location"></i>
                    <div class="name">location</div>
                    <div class="fontclass">.icon-location</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-edit-square"></i>
                    <div class="name">edit-square</div>
                    <div class="fontclass">.icon-edit-square</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-user"></i>
                    <div class="name">user</div>
                    <div class="fontclass">.icon-user</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-team"></i>
                    <div class="name">team</div>
                    <div class="fontclass">.icon-team</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-linechart"></i>
                    <div class="name">line chart</div>
                    <div class="fontclass">.icon-linechart</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-database"></i>
                    <div class="name">database</div>
                    <div class="fontclass">.icon-database</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sever"></i>
                    <div class="name">sever</div>
                    <div class="fontclass">.icon-sever</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mobile"></i>
                    <div class="name">mobile</div>
                    <div class="fontclass">.icon-mobile</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tablet"></i>
                    <div class="name">tablet</div>
                    <div class="fontclass">.icon-tablet</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-redenvelope"></i>
                    <div class="name">red envelope</div>
                    <div class="fontclass">.icon-redenvelope</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-file"></i>
                    <div class="name">file</div>
                    <div class="fontclass">.icon-file</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-delete"></i>
                    <div class="name">delete</div>
                    <div class="fontclass">.icon-delete</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bell"></i>
                    <div class="name">bell</div>
                    <div class="fontclass">.icon-bell</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-skin"></i>
                    <div class="name">skin</div>
                    <div class="fontclass">.icon-skin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-home"></i>
                    <div class="name">home</div>
                    <div class="fontclass">.icon-home</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-filter"></i>
                    <div class="name">filter</div>
                    <div class="fontclass">.icon-filter</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-like"></i>
                    <div class="name">like</div>
                    <div class="fontclass">.icon-like</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unlike"></i>
                    <div class="name">unlike</div>
                    <div class="fontclass">.icon-unlike</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unlock"></i>
                    <div class="name">unlock</div>
                    <div class="fontclass">.icon-unlock</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lock"></i>
                    <div class="name">lock</div>
                    <div class="fontclass">.icon-lock</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-folder"></i>
                    <div class="name">folder</div>
                    <div class="fontclass">.icon-folder</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-calendar"></i>
                    <div class="name">calendar</div>
                    <div class="fontclass">.icon-calendar</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-scan"></i>
                    <div class="name">scan</div>
                    <div class="fontclass">.icon-scan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-camera"></i>
                    <div class="name">camera</div>
                    <div class="fontclass">.icon-camera</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cloud-upload"></i>
                    <div class="name">cloud-upload</div>
                    <div class="fontclass">.icon-cloud-upload</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cloud"></i>
                    <div class="name">cloud</div>
                    <div class="fontclass">.icon-cloud</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cloud-download"></i>
                    <div class="name">cloud-download</div>
                    <div class="fontclass">.icon-cloud-download</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-video"></i>
                    <div class="name">video</div>
                    <div class="fontclass">.icon-video</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qrcode"></i>
                    <div class="name">qrcode</div>
                    <div class="fontclass">.icon-qrcode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-image"></i>
                    <div class="name">image</div>
                    <div class="fontclass">.icon-image</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mail"></i>
                    <div class="name">mail</div>
                    <div class="fontclass">.icon-mail</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-idcard"></i>
                    <div class="name">id card</div>
                    <div class="fontclass">.icon-idcard</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-heart"></i>
                    <div class="name">heart</div>
                    <div class="fontclass">.icon-heart</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-star"></i>
                    <div class="name">star</div>
                    <div class="fontclass">.icon-star</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wifi"></i>
                    <div class="name">wifi</div>
                    <div class="fontclass">.icon-wifi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-attachment"></i>
                    <div class="name">attachment</div>
                    <div class="fontclass">.icon-attachment</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-edit"></i>
                    <div class="name">edit</div>
                    <div class="fontclass">.icon-edit</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-key"></i>
                    <div class="name">key</div>
                    <div class="fontclass">.icon-key</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-man"></i>
                    <div class="name">man</div>
                    <div class="fontclass">.icon-man</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-search"></i>
                    <div class="name">search</div>
                    <div class="fontclass">.icon-search</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-phone"></i>
                    <div class="name">phone</div>
                    <div class="fontclass">.icon-phone</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tag"></i>
                    <div class="name">tag</div>
                    <div class="fontclass">.icon-tag</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-woman"></i>
                    <div class="name">woman</div>
                    <div class="fontclass">.icon-woman</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-share"></i>
                    <div class="name">share</div>
                    <div class="fontclass">.icon-share</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-right"></i>
                    <div class="name">right</div>
                    <div class="fontclass">.icon-right</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-left"></i>
                    <div class="name">left</div>
                    <div class="fontclass">.icon-left</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-up"></i>
                    <div class="name">up</div>
                    <div class="fontclass">.icon-up</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-down"></i>
                    <div class="name">down</div>
                    <div class="fontclass">.icon-down</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fullscreen"></i>
                    <div class="name">fullscreen</div>
                    <div class="fontclass">.icon-fullscreen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fullscreen-exit"></i>
                    <div class="name">fullscreen-exit</div>
                    <div class="fontclass">.icon-fullscreen-exit</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-download"></i>
                    <div class="name">download</div>
                    <div class="fontclass">.icon-download</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sort-descending"></i>
                    <div class="name">sort-descending</div>
                    <div class="fontclass">.icon-sort-descending</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sort-ascending"></i>
                    <div class="name">sort-ascending</div>
                    <div class="fontclass">.icon-sort-ascending</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fall"></i>
                    <div class="name">fall</div>
                    <div class="fontclass">.icon-fall</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-swap"></i>
                    <div class="name">swap</div>
                    <div class="fontclass">.icon-swap</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-rise"></i>
                    <div class="name">rise</div>
                    <div class="fontclass">.icon-rise</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-menu"></i>
                    <div class="name">menu</div>
                    <div class="fontclass">.icon-menu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unorderedlist"></i>
                    <div class="name">unordered list</div>
                    <div class="fontclass">.icon-unorderedlist</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-orderedlist"></i>
                    <div class="name">ordered list</div>
                    <div class="fontclass">.icon-orderedlist</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-code"></i>
                    <div class="name">code</div>
                    <div class="fontclass">.icon-code</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-check"></i>
                    <div class="name">check</div>
                    <div class="fontclass">.icon-check</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ellipsis"></i>
                    <div class="name">ellipsis</div>
                    <div class="fontclass">.icon-ellipsis</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-close"></i>
                    <div class="name">close</div>
                    <div class="fontclass">.icon-close</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-minus"></i>
                    <div class="name">minus</div>
                    <div class="fontclass">.icon-minus</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-question"></i>
                    <div class="name">question</div>
                    <div class="fontclass">.icon-question</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-plus"></i>
                    <div class="name">plus</div>
                    <div class="fontclass">.icon-plus</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-drag"></i>
                    <div class="name">drag</div>
                    <div class="fontclass">.icon-drag</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-desktop"></i>
                    <div class="name">desktop</div>
                    <div class="fontclass">.icon-desktop</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gift"></i>
                    <div class="name">gift</div>
                    <div class="fontclass">.icon-gift</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-stop"></i>
                    <div class="name">stop</div>
                    <div class="fontclass">.icon-stop</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-alibaba"></i>
                    <div class="name">alibaba</div>
                    <div class="fontclass">.icon-alibaba</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-IE"></i>
                    <div class="name">IE</div>
                    <div class="fontclass">.icon-IE</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-alipay"></i>
                    <div class="name">alipay</div>
                    <div class="fontclass">.icon-alipay</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-taobao"></i>
                    <div class="name">taobao</div>
                    <div class="fontclass">.icon-taobao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhihu"></i>
                    <div class="name">zhihu</div>
                    <div class="fontclass">.icon-zhihu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chrome"></i>
                    <div class="name">chrome</div>
                    <div class="fontclass">.icon-chrome</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-aliwangwang"></i>
                    <div class="name">aliwangwang</div>
                    <div class="fontclass">.icon-aliwangwang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-apple"></i>
                    <div class="name">apple</div>
                    <div class="fontclass">.icon-apple</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-android"></i>
                    <div class="name">android</div>
                    <div class="fontclass">.icon-android</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-windows"></i>
                    <div class="name">windows</div>
                    <div class="fontclass">.icon-windows</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-QQ"></i>
                    <div class="name">QQ</div>
                    <div class="fontclass">.icon-QQ</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wechat-fill"></i>
                    <div class="name">wechat-fill</div>
                    <div class="fontclass">.icon-wechat-fill</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-github-fill"></i>
                    <div class="name">github-fill</div>
                    <div class="fontclass">.icon-github-fill</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
