.fadeInUp {
    animation: fadeInUp .75s both;
}

.fadeOutUp {
    animation: fadeOutUp .75s both;
}

.roll {
    animation: roll 1s linear infinite;
}

.infinite {
    animation-iteration-count: infinite;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 2em, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2em, 0);
    }
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}