.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu,
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  position: relative;
}

.menu li>div {
  position: relative;
  line-height: 1.25em;
  padding: 1em 1em;
  padding-left: 2em;
  padding-right: 0;
  cursor: pointer;
}

.menu li>ul:before {
  font-family: "iconfont";
  content: "\e7f0";
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1em;
  height: 1em;
  /* background: #000; */
}

.menu li li>div {
  padding-left: 3em;
}

.menu li li li>div {
  padding-left: 4em;
}

.menu li div:hover {
  background: rgba(0, 0, 0, .1);
}

.menu li.active>div {
  color: #0af;
}

.menu li .menu-arrow {
  position: absolute;
  top: 1em;
  right: 1em;
  transition: .3s;
}

.menu ul {}