/*
by wushufen
2014.07.03
base wui
*/

.loading{}

.header{}
	.navbar{}
		.navbar-header{}
		.navbar-body{}
			.nav{}
			.nav.float-right{}
				.nav-item{}

.container{}
	.row{}
		.col{}

.path{background: rgba(201, 205, 209, 0.06)}
	.path a,.path span{}
	.path a{color: #66AC59;}

.menu{border-color: #C9C9C9}
	.menu-deivder{}
	.menu-item{}
	.menu-item.active{background: #66AC59; color: #fff; border-right: solid 4px #fff;}
		.menu-toggle{}
		.menu-item .menu{background: #efefef;}
			.menu-item .menu-item{}

.panel{border-color: #C9C9C9}
	.panel-header{background: #F2F2F2}
	.panel-body{}
	.panel-footer{}

.tabs{}
	.tabs-header{color: #66AC59;font-weight: 600;}
	.tab{}
.tabs-body{}
	.tabs-content{}

.list{}
	.list-item{}

.badge{}

.data{}

.pagination{}
	.pagination a,.pagination span{}

.form{}
	.form-group{margin-bottom: 1em;}
		.label{}
		.input{}
		.input-line{}
		.button{}
		.tip{}
.group{}

.progress{}
	.progress-completed{}

.icon{}

.dropdown{}

.collapse{}

/*.dialog{x}*/

/*.status{...}*/
.primary {}
.success {}
.warning {}
.danger  {}
.error   {}
.info    {}
.money   {}
.button.primary {background: #66AC59; border-color: #5BA552;}
.button.success {}
.button.warning {}
.button.danger  {}
.button.error   {}
.button.info    {}
