/* box-sizing */
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}

/*font*/
html{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	background: #fff;
	color: #333;
}
input,
select,
textarea,
button,
pre,
th{font: inherit; color: inherit; outline: none}

/*margin*/
body,input{margin:0}

/*border*/
img,fieldset{border:none}

/*修饰*/
html{-webkit-tap-highlight-color:transparent}
a{text-decoration:none; color:inherit}

/*hidden*/
[hidden]{
    display: none !important;
}

