.color{color:#333}
.c-white{color:#ffffff}
.c-disabled{color:#aaaaaa}
.c-info{color:#5AC0F0}
.c-primary{color:#00aaff}
.c-success{color:#21D100}
.c-warning{color:#ffbb00}
.c-error{color:#ff0000}
.c-black{color:#000000}
.c-none{color:transparent}

.border{border-color:#ddd}
.bd-white{border-color:#ffffff}
.bd-disabled{border-color:#aaaaaa}
.bd-info{border-color:#5AC0F0}
.bd-primary{border-color:#00aaff}
.bd-success{border-color:#21D100}
.bd-warning{border-color:#ffbb00}
.bd-error{border-color:#ff0000}
.bd-black{border-color:#000000}
.bd-none{border:none}

.bg{background-color:#fff}
.bg-white{background-color:#ffffff}
.bg-disabled{background-color:#aaaaaa}
.bg-info{background-color:#5AC0F0}
.bg-primary{background-color:#00aaff}
.bg-success{background-color:#21D100}
.bg-warning{background-color:#ffbb00}
.bg-error{background-color:#ff0000}
.bg-black{background-color:#000000}
.bg-none{background:none !important}

.bdc{border-color:#ddd;color:#333}
.bdc-white{border-color:#ffffff;color:#ffffff}
.bdc-disabled{border-color:#aaaaaa;color:#aaaaaa}
.bdc-info{border-color:#5AC0F0;color:#5AC0F0}
.bdc-primary{border-color:#00aaff;color:#00aaff}
.bdc-success{border-color:#21D100;color:#21D100}
.bdc-warning{border-color:#ffbb00;color:#ffbb00}
.bdc-error{border-color:#ff0000;color:#ff0000}
.bdc-black{border-color:#000000;color:#000000}

.bdbg{border-color:#ddd;background-color:#fff}
.bdbg-white{border-color:#ffffff;background-color:#ffffff}
.bdbg-disabled{border-color:#aaaaaa;background-color:#aaaaaa}
.bdbg-info{border-color:#5AC0F0;background-color:#5AC0F0}
.bdbg-primary{border-color:#00aaff;background-color:#00aaff}
.bdbg-success{border-color:#21D100;background-color:#21D100}
.bdbg-warning{border-color:#ffbb00;background-color:#ffbb00}
.bdbg-error{border-color:#ff0000;background-color:#ff0000}
.bdbg-black{border-color:#000000;background-color:#000000}

.btn-primary{border-color:#00aaff;background-color:#00aaff;color:#fff}
.btn-white{border-color:#ffffff;background-color:#ffffff;color:#333}
.btn-disabled{border-color:#aaaaaa;background-color:#aaaaaa;color:#fff}
.btn-info{border-color:#5AC0F0;background-color:#5AC0F0;color:#fff}
.btn-success{border-color:#21D100;background-color:#21D100;color:#fff}
.btn-warning{border-color:#ffbb00;background-color:#ffbb00;color:#fff}
.btn-error{border-color:#ff0000;background-color:#ff0000;color:#fff}
.btn-black{border-color:#000000;background-color:#000000;color:#fff}
