.path{
	overflow: hidden;
	margin-top: 1em;
}
.path>*{
	position:relative;
	float:left;
	padding:0 1em
}
.path>*:last-child{
	color: #aaa;
}
.path>* + *:before{
	content:"/";
	position:absolute;
	left:-.25em;
	color: #ddd;
}