/* box-sizing */
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}

/*margin*/
body,input{margin:0}

/*border*/
img,fieldset{border:none}

/*font*/
html{font-family:"Microsoft Yahei"; background:#fff; color:#333}
html{-webkit-tap-highlight-color:transparent}
a{text-decoration:none; color:inherit}

input,
select,
textarea,
button,
pre,
th{font: inherit; color: inherit; outline: none}

/*hidden*/
[hidden]{
    display: none !important;
}

