table{
  border-collapse:collapse;
  border-spacing:0;
}
.table{
  display:table;
  width: 100%;
}
.tblf{table-layout:fixed}

tr{}
.tr{
  display:table-row;
}
.table>*:before,
.table>*:after{display:none !important}


th{
  text-align: inherit;
}
.th{
  display: table-cell;
}
.table th {
  /*white-space: nowrap;*/
}
.table tr:first-child th {
  /*background: #fefefe;*/
  /*border-top: solid 1px #ddd;*/
  border-bottom: solid 1px #ddd;
}


td{}
.td{
  display:table-cell;
  float:none;
  padding: .25em 1em;
}
.table td {
  border-bottom: solid 1px #fafafa;
  transition: .3s;
}
.table tr:hover td{
  background: #f7f7f7;
}


.th,
.td,
.table th,
.table td {
  height: 3em;
  padding: .25em 1em;
}
