/*
.layout{

	.sidebar-toggle{}
	.sidebar{
		.sidebar-header{}

		.menu{
			...
		}
	}

	.container{}
}
*/
.layout{padding-left: 14em}
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 14em;
	overflow: auto;
	z-index: 100;
	/*background: #456;*/
}
.sidebar-header{
	display: block;
	border-bottom: solid 1px #444;
	padding: .0625em;
	font-size: 1.5em;
	text-align: center;
	/*color: #fff;*/
}
.sidebar-toggle{
	display: none;
	position: fixed;
	top: 0;
	width: 2.5em;
	height: 2.5em;
	z-index: 100;
	background: rgba(200,200,200, .8);
}


.layout,
.sidebar{
	transition: .5s;/*过渡动画*/
}
@media (max-width: 700px){
.layout{padding-left: 0}
.sidebar{left: -14em}/* .sidebar 往左隐藏*/
.sidebar-toggle{display: block}/*显示 .sidebar-toggle按钮*/
.header .navbar{padding-left:2.5em}/*如果头部有.navbar导航条，左侧要给 .sidebar-toggle按钮 留位置*/

/*active*/
.layout.active{padding-left: 14em; margin-right: -14em}/*留位给 .sidebar ; 往右扩展*/
.layout.active .sidebar{left: 0}/*让 .sidebar 出来*/
}


/*
.sidebar .menu{
	border: 0;
}
.sidebar .menu-item{
	color: #eee;
	border: 0;
}
*/


/*滚动条，移动设备不要*/
@media (min-width: 700px){
::-webkit-scrollbar{width: 11px; height: 11px}
::-webkit-scrollbar-track{border: solid 5px #fff; background: #ddd}
::-webkit-scrollbar-thumb{background: #fff; border-radius: 9px; border: solid 1px #999}
::-webkit-scrollbar-thumb:hover{background: #fff}
::-webkit-scrollbar-thumb:active{background: #eff}
}

/*选择文本*/
::selection{background: #576268; color: #fff}
::-moz-selection{background: #576268; color: #fff}
